<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Memo List</title>
</head>
<body>
    <h1>Memo List</h1>
     
    <!-- 검색 폼 추가 -->
    <form action="/memos" method="GET">
        <input type="text" name="search" placeholder="Search memos" />
        <button type="submit ">Search</button>
    </form>

    <ul>
        <% memos.forEach(function(memo) { %>
        <li>
            <h2><%= memo.title %></h2>
            <p><%= memo.content %></p>
            <a href="/memos/edit/<%= memo.id %>">Edit</a>
            <form 
            action="/memos/delete/<%= memo.id %>"
            method="post"
            style="display: inline">
                <button type="submit">Delete</button>
            </form>
        </li>
        <% }); %>
    </ul>

    <a href="/memos/add">Add New Memo</a>

    <% if (authError) {%>
    <script>
        alert("You do not have permission to perform this action.");
        window.history.replaceState(
            null, null, window.location.pathname
        );
    </script>
    <% } %>
</body>
</html>