<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>권한없음</title>
</head>
<body>
    <h1>권한없음</h1>
    <p>이 작업을 수행 할 권한이 없습니다.</p>
    <p>로그인해주세요: <a href="/users/login">login</a></p>
</body>
</html>